html,
body {
  width: 100%;
  height: 100%;
}

$background-color: #eeecda; //main-color
$orange-color: #f08a5d; //accent-color
$red-color: #b83b5e; // main-text-color
$purple-color: #6a2c70; // whareva

.main-container {
  display: flex;
  height: 90%;
  width: 95%;
  justify-content: flex-start;
  align-items: center;
  flex-flow: column nowrap;
  background-color: #dcdcdc;
  margin: 0 auto;
  padding: 40px 20px;
}

.form-container {
  display: none;
  margin-top: 80px;
  height: 50%;
  flex-flow: column nowrap;
}

.form-container-show {
  display: flex;
}

#author-input {
    width: 60%;
}

.show-form {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: auto;
}

.books-container {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  height: auto;
  text-align: center;
  border: 1px solid #707070;
  padding: 15px;
}
